/risk/get_sharpe_ratio/my_deployment_package.zip
/risk/get_all_sharpe_symbols/my_deployment_package.zip
/risk/get_sharpe_ratio/package/
/risk/get_all_sharpe_symbols/package/
/risk/get_exchange/my_deployment_package.zip
/misc/db_proxy/my_deployment_package.zip
